<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\OfflinePayments\Model\Cashondelivery">
         <plugin sortOrder="1" name="restrictByCustomer"
      type="V4U\ZipChecker\Plugin\Payment\Method\CashOnDelivery\Available"/>
    </type>
</config>
