<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="V4U_ZipChecker" frontName="zipchecker">
            <module name="V4U_ZipChecker" />
        </route>
    </router>
</config>